:root {
  --main-bg-color: #0a4263;
  --title-color: #21639f;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(241, 241, 241);
  font-size: 95%;
}

#wrapper {
  background-color: rgb(213, 219, 213);
}

header {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  height: 30px;
}

#logo {
  padding: 5px 80px 0 10px;
}

#firme {
  min-width: 12em;
}

header h1 {
  margin: auto;
  padding-top: 1rem;
  padding-left: 0;
  padding-bottom: 0.5rem;
  color: var(--main-bg-color);
  font-size: 1.6em;
}

h1 {
  color: var(--title-color);
  text-align: left;
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
}

h2 {
  color: var(--title-color);
  font-size: 1.2rem;
  margin: 1rem 0 0 0;
}

.fixnavbar,
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  background-color: brown;
}

nav ul {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.8em;
  list-style-type: none;
  padding-inline-start: 0px;
}

nav li a {
  display: inline-block;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/*style the active class link*/
.active,
.current {
  background-color: #666;
}

.gestZone {
  margin: 10px;
  text-align: justify;
}

.button {
  display: block;
  margin: 1.5em auto;
  padding: 12px;
  background-color: rgb(26, 133, 26);
  color: white;
  text-align: center;
  border-radius: 0.5em;
  font-size: 1.1em;
  transition: all 0.5s;
}

.button:hover {
  background-color: #666;
  color: rgb(12, 12, 129);
  text-decoration: none;
  cursor: pointer;
}

.button:visited {
  color: white;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 3px solid var(--main-bg-color);
  color: var(--main-bg-color);
  font-size: 1rem;
  padding: 5px;
}

/* No cookies! */
.modal {
  display: none;
  position: fixed;
}

.modal-content {
  margin-left: 10%;
  width: 70%;
  max-width: 180px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px;
}
#close {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

#img-cookie {
  width: 80px;
}

p {
  margin-bottom: 40px;
  font-size: 18px;
}

#accept {
  background-color: brown;
  border: none;
  border-radius: 5px;
  width: 180px;
  padding: 14px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
  cursor: pointer;
}
